@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: lightgray;
    font-size: 1em;
}

.container {
    max-width: 1790px;
    padding: 0 15px;
    margin: 0  auto;
}
a {
    color: black;
}

.none {
    display: none !important;
}

.no-scroll {
    overflow-y: hidden;
}